@import "../defaults";

.GridColumn {
  @include display(flex);
  height: 100%;
  width: 100%;
  @include align-items(center);
  margin: auto;
  @include gutter();

  .GridColumn-Gutter,
  .GridColumn-Content {
    width: 100%;
    @include gutter();
  }

  &--flex {
    .GridColumn-ContentWrapper {
      .GridColumn-Content {
        @include display(flex);
      }
    }
  }

  @include mq($until: small) {
    .GridColumn-Margin {
      @include flex(0);
      .GridColumn-Gutter {
        padding: 0;
      }
    }
    .GridColumn-ContentWrapper {
      @include flex(12);
    }
  }

  @include mq($from: small, $until: large) {
    .GridColumn-Margin {
      @include flex(1);
    }
    .GridColumn-ContentWrapper {
      @include flex(10);
    }

    &--wide {
      .GridColumn-Margin {
        @include flex(0);
      }
      .GridColumn-ContentWrapper {
        @include flex(12);
      }
    }
  }
  @include mq($from: large) {
    .GridColumn-Margin {
      @include flex(1);
    }
    .GridColumn-ContentWrapper {
      @include flex(10);
    }

    &--wide {
      .GridColumn-Margin {
        @include flex(0);
      }
      .GridColumn-ContentWrapper {
        @include flex(12);
      }
    }
  }
}
