@import "~bourbon/app/assets/stylesheets/bourbon";
@import "~sass-mq/mq";

$color-white: white;
$color-black: black;
$color-yellow: rgba(255,255,0,1);

$base-font-size-small: 14px;
$base-font-size: 16px;
$base-font-size-large: 18px;

$gutter-small: 29px;
$gutter: 33px;
$gutter-large: 37px;

$line-height: 19/strip-units($base-font-size);

$modular-scale-ratio: 1.2;
$modular-scale-base: 1; //35/strip-units($base-font-size);

$em-base: $base-font-size;

$mq-breakpoints: (
    small:  769px,
    medium: 1024px,
    large: 1400px
);

%font-primary-regular {
  font-family: "MaisonNeue", Helvetica, Arial ,sans-serif;
  font-weight: 300;
  font-style: normal;
}

@import "mixins";
