@import "~reset-css/reset";
@import "defaults";

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  height: inherit;

  line-height: $line-height;
  @extend %font-primary-regular;

  @include mq($until: small) {
    font-size: $base-font-size-small;
  }
  @include mq($from: small, $until: large) {
    font-size: $base-font-size;
  }
  @include mq($from: large) {
    font-size: $base-font-size-large;
  }
}
